.modal.gallery {
    .close.icon {
        margin-right: 0;
        top: 0.6rem;
        right: 1rem;
        color: rgba(0,0,0,.87);
    }
    .content {
        max-height: 430px;
        overflow-y: auto;
        .cards {
            .card {
                > .image {
                    position: relative;
                    -webkit-transition: opacity 0.4s ease-in-out;
                    -moz-transition: opacity 0.4s ease-in-out;
                    -ms-transition: opacity 0.4s ease-in-out;
                    -o-transition: opacity 0.4s ease-in-out;
                    transition: opacity 0.4s ease-in-out;
	                height: 105px;
	                img {
		                height: 100% !important;
		                object-fit: cover;
	                }
                    .button {
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin-right: 0;
                        visibility: hidden;
                        opacity: 0;
                        -webkit-transition: all 0.4s ease-in-out;
                        -moz-transition: all 0.4s ease-in-out;
                        -ms-transition: all 0.4s ease-in-out;
                        -o-transition: all 0.4s ease-in-out;
                        transition: all 0.4s ease-in-out;
                        border-radius: 0 0.3em 0 0.3em;
                    }
                    &:hover {
                        .button {
                            visibility: visible;
                            opacity: 1;
                        }
                    }
                }
                &:hover {
                    -webkit-transform: none !important;
                    -ms-transform: none !important;
                    transform: none !important;
                }
                &.selected {
                    > .image {
                        box-shadow: 0 0 1px 4px #FFB400;
                    }
                }
            }
        }
    }
    .progress {
        margin-top: 0;
        margin-bottom: 20px;
        .label {
            text-align: left;
        }
    }
    .drop-zone.dragover {
        display: block;
        opacity: 1;
        .content {
            height: 100%;
            max-height: none;
        }
    }
	.folders-breadcrumb {
		.dropdown.item {
			.item {
				padding-right: 40px !important;
				position: relative;
				.description {
					position: absolute;
					right: 10px;
				}
			}
		}
	}
}